<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Categorias</title>
</h:head>
<body bgcolor="#1f2d40" >
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Nueva categoria" icon="pi pi-plus-circle"
				action="#{beanInvCategoria.actionMenuNuevaCategoria()}" />
				<p:menuitem value="Reporte" icon="pi pi-book" ajax="false" action="#{beanInvCategoria.actionReporteCategoria()}"/>
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form>
			<p:dataTable value="#{beanInvCategoria.listaInvCategoria}" var="categoria"
				paginator="true" rows="5">
				<p:column headerText="ID">
					<h:outputText value="#{categoria.idCat}" />
				</p:column>
				<p:column headerText="NOMBRE" filterBy="#{categoria.nombreCat}"
					filterMatchMode="contains">
					<h:outputText value="#{categoria.nombreCat}" />
				</p:column>
				<p:column headerText="DETALLE" filterBy="#{categoria.detalleCat}"
					filterMatchMode="contains">
					<h:outputText value="#{categoria.detalleCat}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-pencil" title="editar"
						action="#{beanInvCategoria.actionSeleccionarEdicionCategoria(categoria)}"/>
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						action="#{beanInvCategoria.actionListenerEliminarCategoria(categoria.idCat)}">
						<p:confirm header="Confirmación"
							message="Desea borrar esta categoría?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
