<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Categorias</title>
</h:head>
<body bgcolor="#1f2d40" >
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="categorias" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form>
			<p:panelGrid columns="2">
				<h:outputText value="Nombre:" />
				<p:inputText value="#{beanInvCategoria.edicionCategoria.nombreCat}"
					required="true" requiredMessage="Ingrese el nombre categoria" />
				<h:outputText value="Detalle:" />
				<p:inputText value="#{beanInvCategoria.edicionCategoria.detalleCat}"
					required="true" requiredMessage="Ingrese el detalle categoria" />
				<p:commandButton value="Actualizar" icon="pi pi-save" update="@form"
					actionListener="#{beanInvCategoria.actionListenerActualizarEdicionCategoria()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:panel>
</body>
</html>
