<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Inventario</title>
</h:head>
<body bgcolor="#1f2d40" >
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<p:commandButton value="Nuevo" icon="pi pi-plus" id="cmdNuevo"></p:commandButton>
		<p:overlayPanel for="cmdNuevo" showCloseIcon="true">
			<h:form>
				<p:panelGrid columns="2">
					<h:outputText value="Nombre:" />
					<p:inputText value="#{beanInvInventario.nuevoInv.nombreInv}"
						required="true" requiredMessage="Ingrese el nombre del producto." />
					<h:outputText value="Categoría:" />
					<p:selectOneMenu value="#{beanInvInventario.identificacionCategoriaSeleccionada}">
						<f:selectItems value="#{beanInvCategoria.listaInvCategoria}" var="c"
							itemLabel="#{c.nombreCat}" itemValue="#{c.idCat}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Cantidad actual: " />
					<p:spinner value="#{beanInvInventario.nuevoInv.cantActualInv}" min="1" max="999"
						size="2"></p:spinner>
						<h:outputText value="Cantidad minima:" />
					<p:spinner value="#{beanInvInventario.nuevoInv.cantMinimaInv}" min="1" max="20"
						size="2"></p:spinner>
					<p:commandButton value="Guardar" icon="pi pi-save"
						update="@form:,formDatos"
						actionListener="#{beanInvInventario.actionListenerInsertarInventario()}"></p:commandButton>
				</p:panelGrid>
			</h:form>
		</p:overlayPanel>
		<h:form id="formDatos">
			<p:dataTable value="#{beanInvInventario.listaInventario}" var="i"
				emptyMessage="No hay registros aún." paginator="true" rows="10"> 
				
				<p:column headerText="ID" sortBy="#{i.idInv}"> 
					<h:outputText value="#{i.idInv}" />
				</p:column>
				<p:column headerText="NOMBRE" sortBy="#{i.nombreInv}" filterBy="#{i.nombreInv}" filterMatchMode="contains">
					<h:outputText value="#{i.nombreInv}" />
				</p:column>
				<p:column headerText="CATEGORIA" sortBy="#{i.invCategoria.nombreCat}" filterBy="#{i.invCategoria.nombreCat}"
					filterMatchMode="contains">
					<h:outputText value="#{i.invCategoria.nombreCat}" />
				</p:column>
				<p:column headerText="CANTIDAD ACTUAL" sortBy="#{i.cantActualInv}">
					<h:outputText value="#{i.cantActualInv}" />
				</p:column>
				<p:column headerText="CANTIDAD MINIMA" sortBy="#{i.cantMinimaInv}">
					<h:outputText value="#{i.cantMinimaInv}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-pencil" title="editar"
						actionListener="#{beanInvInventario.actionListenerCargarInventario(i)}"
						oncomplete="PF('dialogoEdicion').show()" update=":formEdicion" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanInvInventario.actionListenerEliminarInventario(i.idInv)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este registro?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	<p:dialog header="Edición" widgetVar="dialogoEdicion">
		<h:form id="formEdicion">
			<p:panelGrid columns="2" layout="grid">
				<h:outputText value="NOMBRE DEL PRODUCTO:" />
				<p:inputText value="#{beanInvInventario.edicionInv.nombreInv}"
					required="true" requiredMessage="Ingrese el nombre del producto." />
				<h:outputText value="Categoría" />
				<p:selectOneMenu value="#{beanInvInventario.identificacionCategoriaSeleccionada}">
						<f:selectItems value="#{beanInvCategoria.listaInvCategoria}" var="c"
							itemLabel="#{c.nombreCat}" itemValue="#{c.idCat}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="CANTIDAD ACTUAL:" />
				<p:spinner value="#{beanInvInventario.edicionInv.cantActualInv}" />
				<h:outputText value="CANTIDAD MINIMO:" />
				<p:spinner value="#{beanInvInventario.edicionInv.cantMinimaInv}" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update="@form,:formDatos"
					actionListener="#{beanInvInventario.actionListenerGuardarEdicionInventario()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
