<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Inventario</title>
</h:head>
<body bgcolor="#1f2d40" >
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu?faces-redirect=true" />
			<p:menuitem value="Categorias" icon="pi pi-sitemap" action="#{beanInvCategoria.actionMenuCategorias()}"/>
			<p:menuitem value="Inventario" icon="pi pi-list" action="#{beanInvInventario.actionCargarMenuInventario()}"/>
			<p:menuitem value="Refrescar tabla" icon="pi pi-refresh" action="#{beanInvInventario.actionCargarMinimoInventario()}" update="formDatos"/>
			<p:menuitem value="Reporte Minimo Stock" icon="pi pi-book" action="#{beanInvInventario.actionCargarMenuReporteMinimoStock()}"/>
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
	</h:form>
	<div>
	<h:form id="formDatos">
	<center>		<h:outputText value="STOCK MINIMO REABASTECER INVENTARIO PRONTO" style="align:center; color:white"/></center>
			<p:dataTable value="#{beanInvInventario.listaMinimaStock}" var="i"
				emptyMessage="No hay registros aún." paginator="true" rows="5"> 
				
				<p:column headerText="ID" sortBy="#{i.idInv}"> 
					<h:outputText value="#{i.idInv}" />
				</p:column>
				<p:column headerText="NOMBRE" sortBy="#{i.nombreInv}" filterBy="#{i.nombreInv}" filterMatchMode="contains">
					<h:outputText value="#{i.nombreInv}" />
				</p:column>
				<p:column headerText="CATEGORIA" sortBy="#{i.invCategoria.nombreCat}" filterBy="#{i.invCategoria.nombreCat}"
					filterMatchMode="contains">
					<h:outputText value="#{i.invCategoria.nombreCat}" />
				</p:column>
				<p:column headerText="CANTIDAD ACTUAL" sortBy="#{i.cantActualInv}" >
					<h:outputText value="#{i.cantActualInv}" />
				</p:column>
				<p:column headerText="CANTIDAD MINIMA" sortBy="#{i.cantMinimaInv}">
					<h:outputText value="#{i.cantMinimaInv}" />
				</p:column>
				<p:column headerText="OPCIONES">
				<p:commandButton icon="pi pi-pencil" title="editar"
						actionListener="#{beanInvInventario.actionListenerCargarInventarioMinimo(i)}"
						oncomplete="PF('dialogoEdicion').show()" update=":formEdicion" />
				</p:column>
			</p:dataTable>
		</h:form>
		<p:dialog header="Adición" widgetVar="dialogoEdicion">
		<h:form id="formEdicion">
			<p:panelGrid columns="2" layout="grid">
				<h:outputText value="NOMBRE DEL PRODUCTO:" />
				<h:outputText value="#{beanInvInventario.aProducto.nombreInv}"/>
				<h:outputText value="CANTIDAD ACTUAL:" />
				<h:outputText value="#{beanInvInventario.aProducto.cantActualInv}" />
				<h:outputText value="CANTIDAD MINIMO:" />
				<h:outputText value="#{beanInvInventario.aProducto.cantMinimaInv}" />
				<h:outputText value="CANTIDAD PARA AÑADIR:" />
				<p:spinner value="#{beanInvInventario.agregarProductos}" min="0" max="999" size="2"/>
				<p:commandButton value="Guardar" icon="pi pi-plus-circle"
					update="@form,:formDatos"
					actionListener="#{beanInvInventario.actionAgregarCantidadProducto()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
	</div>
</body>
</html>
