<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Reporte Stock Minimo</title>
</h:head>
<body bgcolor="#1f2d40" >
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<p:commandButton value="Imprimir" icon="pi pi-print" id="cmdImprimir">
			<p:printer target="panel" /> 	
		</p:commandButton>
			<p:panel id="panel" header="Reporte de Stock Minimo">
			<h:form>
				<p:panelGrid columns="2">
					<h:outputText value="Fecha de Reporte:" />
					<p:clock pattern="dd-MM-yyyy HH:mm:ss"/>
					<h:outputText value="Usuario:" />
					<h:outputText value="#{beanSegLogin.loginDTO.correo}"/>
					
				</p:panelGrid>
				
			</h:form>
			
		<h:form id="formDatos">
			<p:dataTable value="#{beanInvInventario.listaMinimaStock}" var="i"
				emptyMessage="No hay registros aún."> 
				
				<p:column headerText="ID"> 
					<h:outputText value="#{i.idInv}" />
				</p:column>
				<p:column headerText="NOMBRE">
					<h:outputText value="#{i.nombreInv}" />
				</p:column>
				<p:column headerText="CATEGORIA">
					<h:outputText value="#{i.invCategoria.nombreCat}" />
				</p:column>
				<p:column headerText="CANTIDAD ACTUAL">
					<h:outputText value="#{i.cantActualInv}" />
				</p:column>
				<p:column headerText="CANTIDAD MINIMA">
					<h:outputText value="#{i.cantMinimaInv}" />
				</p:column>
			</p:dataTable>
		</h:form>
		</p:panel>
	</p:panel>
</body>
</html>
