<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Cabeceras</title>
</h:head>
<body bgcolor="#1f2d40" >
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form id="form2">
			<p:dataTable value="#{beanFactura.listaCabeceras}" var="c"
				emptyMessage="No hay registros aún." paginator="true" rows="30">
				<p:column headerText="Nro. Factura" filterBy="#{c.nroFactura}"
					filterMatchMode="contains">
					<h:outputText value="#{c.nroFactura}" />
				</p:column>
				<p:column headerText="Cedula Cliente" filterBy="#{c.cliCliente.cedulaCliente}"
					filterMatchMode="contains">
					<h:outputText value="#{c.cliCliente.cedulaCliente}" />
				</p:column>
				<p:column headerText="Fecha">
					<h:outputText value="#{c.fechaFactura}" />
				</p:column>
				<p:column headerText="Subtotal">
					<h:outputText value="#{c.subtotalFactura}" />
				</p:column>
				<p:column headerText="Porcentaje IVA">
					<h:outputText value="#{c.porcentajeIvaFactura}" />
				</p:column>
				<p:column headerText="Valor IVA">
					<h:outputText value="#{c.valorIvaFactura}" />
				</p:column>
				<p:column headerText="Total">
					<h:outputText value="#{c.totalFactura}" />
				</p:column>
				<p:column headerText="Opciones">
					<p:commandButton icon="pi pi-trash" title="Eliminar" update="@form"
						actionListener="#{beanFactura.acctionListenerEliminarCabecera(c.nroFactura)}">
						<p:confirm header="Confirmación" message="¿Desea eliminar?"
							icon="pi pi-exclamation-triangle"></p:confirm> 
					</p:commandButton>
					<p:commandButton icon="pi pi-pencil" title="Editar"
						actionListener="#{beanFactura.actionListenerSeleccionarCabecera(c.nroFactura)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">

					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	
	
	<p:dialog header="Editar informacion" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Nro Factura: " />
			<h:outputText value="#{beanFactura.cabeceraSeleccionada.nroFactura}" />
			<br/>
			<br/>
			<p:panelGrid columns="2">
				<h:outputText value="Cedula cliente: " />
				<p:inputText
					value="#{beanFactura.cabeceraSeleccionada.cliCliente.cedulaCliente}" />
				<h:outputText value="Fecha: " />
				<p:inputText
					value="#{beanFactura.fecha}" />
			</p:panelGrid>
			<br/>
			<p:commandButton value="Actualizar" icon="pi pi-save"
				update="@form,:form2" 
				actionListener="#{beanFactura.actionListenerActualizarCabecera()}" />
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade">
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" icon="pi pi-check">
		</p:commandButton>
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="pi pi-times">
		</p:commandButton>
	</p:confirmDialog>
	
</body>
</html>




<!-- 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="with=device-with, intial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo de datos estudiantiles</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanEstudiante.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo estudiante" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanEstudiante.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Cédula: " />
				<p:inputText value="#{beanEstudiante.estudiante.cedula}" />
				<h:outputText value="Apellidos: " />
				<p:inputText value="#{beanEstudiante.estudiante.apellidos}" />
				<h:outputText value="Nombres: " />
				<p:inputText value="#{beanEstudiante.estudiante.nombres}" />
				<h:outputText value="Edad: " />
				<p:spinner value="#{beanEstudiante.estudiante.edad}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanEstudiante.actionListenerInsertarEstudiante()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Datos estudiantiles">
			<p:dataTable value="#{beanEstudiante.listaEstudiantes}"
				var="estudiante" paginator="true" rows="5" reflow="true">
				<p:column headerText="CEDULA" filterBy="#{estudiante.cedula}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{estudiante.cedula}" />
				</p:column>
				<p:column headerText="APELLIDOS" filterBy="#{estudiante.apellidos}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{estudiante.apellidos}" />
				</p:column>
				<p:column headerText="NOMBRES" priority="2">
					<h:outputText value="#{estudiante.nombres}" />
				</p:column>
				<p:column headerText="EDAD" sortBy="#{estudiante.edad}" priority="3"
					style="width:50px">
					<h:outputText value="#{estudiante.edad}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="Eliminar" update="@form"
						actionListener="#{beanEstudiante.acctionListenerEliminarEstudiante(estudiante.cedula)}">
						<p:confirm header="Confirmación" message="¿Desea eliminar?"
							icon="fa fa-exclamation-triangle"></p:confirm> 
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanEstudiante.actioListenerSeleccionarEstudiante(estudiante)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">

					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar informacion" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Cédula: " />
			<h:outputText value="#{beanEstudiante.estudianteSeleccionado.cedula}" />
			<br/>
			<br/>
			<p:panelGrid columns="2">
				<h:outputText value="Apellidos: " />
				<p:inputText
					value="#{beanEstudiante.estudianteSeleccionado.apellidos}" />
				<h:outputText value="Nombres: " />
				<p:inputText
					value="#{beanEstudiante.estudianteSeleccionado.nombres}" />
				<h:outputText value="Edad: " />
				<p:spinner value="#{beanEstudiante.estudianteSeleccionado.edad}" />
			</p:panelGrid>
			<br/>
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2" 
				actionListener="#{beanEstudiante.actionListenerActualizarEstudiante()}" />
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade">
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check">
		</p:commandButton>
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times">
		</p:commandButton>
	</p:confirmDialog>
</body>
</html>

 -->
