<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Emitir Factura</title>
</h:head>
<body bgcolor="#1f2d40">
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<p:growl>
			<p:autoUpdate />
		</p:growl>
		<h:form id="form1">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<p:panel>
					<f:facet name="header">
						<h:outputText value="Informacion de cliente" />
					</f:facet>
					<p:panelGrid columns="2">
						<h:outputText value="Cédula Cliente: " />
						<h:outputText
							value="#{beanFactura.clienteSeleccionado.cedulaCliente}" />
						<h:outputText value="Apellidos: " />
						<h:outputText
							value="#{beanFactura.clienteSeleccionado.apellidosCliente}" />
						<h:outputText value="Nombres: " />
						<h:outputText
							value="#{beanFactura.clienteSeleccionado.nombresCliente}" />
					</p:panelGrid>
					<p:commandButton icon="fa fa-plus" value="Añadir Cliente"
						update=":formAniadir" oncomplete="PF('dlgAniadir').show();" />
					<p:dataTable value="#{beanFactura.listaClientes}" var="c"
						emptyMessage="No hay registros aún." paginator="true" rows="5">

						<p:column headerText="Cedulas registradas"
							filterBy="#{c.cedulaCliente}" filterMatchMode="contains">
							<h:outputText value="#{c.cedulaCliente}" />
						</p:column>
						<p:column headerText="Seleccionar">
							<p:commandButton
								actionListener="#{beanFactura.seleccionarCliente(c.cedulaCliente)}"
								icon="pi pi-check" update="@form,:form1"></p:commandButton>
						</p:column>

					</p:dataTable>
				</p:panel>
				<p:panel>
					<f:facet name="header">
						<h:outputText value="Productos" />
					</f:facet>
					<p:panelGrid columns="2">
						<h:outputText value="Cantidad" />
						<p:spinner value="#{beanFactura.cantidad}" min="1" max="99"
							id="cant" />
					</p:panelGrid>
					<p:dataTable value="#{beanFactura.listaProductos}" var="p"
						emptyMessage="No hay registros aún." paginator="true" rows="5">

						<p:column headerText="ID" filterBy="#{p.idProd}"
							filterMatchMode="contains">
							<h:outputText value="#{p.idProd}" />
						</p:column>
						<p:column headerText="Nombre" filterBy="#{p.nombreProd}"
							filterMatchMode="contains">
							<h:outputText value="#{p.nombreProd}" />
						</p:column>
						<p:column headerText="Precio" filterBy="#{p.precioProd}"
							filterMatchMode="contains">
							<h:outputText value="#{p.precioProd}" />
						</p:column>
						<p:column headerText="Añadir">
							<p:commandButton
								actionListener="#{beanFactura.actioListenerAddCarrito(p.idProd, beanFactura.cantidad)}"
								icon="pi pi-shopping-cart" update="@form,:form2"></p:commandButton>
						</p:column>

					</p:dataTable>

				</p:panel>
			</p:panelGrid>
		</h:form>

		<br />
		<h:form id="form2">
			<p:panel header="Carrito">

				<p:dataTable value="#{beanFactura.carrito}" var="c"
					emptyMessage="No hay registros aún." paginator="true" rows="30">
					<p:column headerText="ID producto">
						<h:outputText value="#{c.prodProducto.idProd}" />
					</p:column>
					<p:column headerText="Nombre producto">
						<h:outputText value="#{c.prodProducto.nombreProd}" />
					</p:column>
					<p:column headerText="Precio c/u">
						<h:outputText value="#{c.precioUnitProd}" />
					</p:column>
					<p:column headerText="Cantidad">
						<h:outputText value="#{c.cantidadProd}" />
					</p:column>
					<p:column headerText="Subtotal">
						<h:outputText value="#{c.totalDetalleProd}">
							<f:convertNumber groupingUsed="true" minFractionDigits="2" />
						</h:outputText>
					</p:column>
				</p:dataTable>
				<p:commandButton value="Generar Factura"
					actionListener="#{beanFactura.generarFactura(beanFactura.clienteSeleccionado.cedulaCliente, beanFactura.carrito)  }"
					icon="pi pi-check" update="@form,:form2" action="factura"></p:commandButton>
			</p:panel>
		</h:form>
	</p:panel>
	<p:dialog header="Añadir Cliente" widgetVar="dlgAniadir" modal="true">
		<h:form id="formAniadir">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<p:panelGrid columns="2">
				<h:outputText value="Cédula:" />
				<p:inputText value="#{beanFactura.clienteNuevo.cedulaCliente}" />
				<h:outputText value="Nombres:" />
				<p:inputText value="#{beanFactura.clienteNuevo.nombresCliente}" />
				<h:outputText value="Apellidos:" />
				<p:inputText value="#{beanFactura.clienteNuevo.apellidosCliente}" />
				<h:outputText value="Teléfono:" />
				<p:inputText value="#{beanFactura.clienteNuevo.telefonoCliente}" />
				<h:outputText value="Correo:" />
				<p:inputText value="#{beanFactura.clienteNuevo.correoCliente}" />
				<h:outputText value="Dirección:" />
				<p:inputText value="#{beanFactura.clienteNuevo.direccionCliente}" />
			</p:panelGrid>
			<p:commandButton value="Añadir" icon="fa fa-save"
				update="@form,:form1"
				actionListener="#{beanFactura.actionListenerInsertarCliente()}" />
		</h:form>
	</p:dialog>
</body>
</html>
