<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</h:head>
<body>
<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="facturas" />
			<p:menuitem value="Imprimir" icon="pi pi-pi pi-print" ajax="false"
                                action="#{beanFactura.actionReporte(beanFactura.cabeceraSeleccionada.nroFactura)}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>


	<p:panel id="panel1" header="ASADERO FRANG POLLO">
	<h:outputText value="Direccion: Flores 8-65 y Sánchez - Parque La Merced" /><br/>
	<h:outputText value="Telf: 0968850981 / 0979748793" /><br/>
	<h:outputText value="Facebook: facebook.com/frangpollo" /><br/>
	<h:outputText value="Correo: fernando_guamanpizanan@hotmail.com" /><br/>
	<h:outputText value="" /><br/>
		<p:panelGrid columns="2">
			<h:outputText value="Factura º: " />
			<h:outputText value="#{beanFactura.cabeceraSeleccionada.nroFactura}" />
			<h:outputText value="Fecha de expedición: " />
			<h:outputText
				value="#{beanFactura.cabeceraSeleccionada.fechaFactura}" />
			<h:outputText value="Cedula: " />
			<h:outputText
				value="#{beanFactura.cabeceraSeleccionada.cliCliente.cedulaCliente}" />
			<h:outputText value="Nombre: " />
			<h:outputText
				value="#{beanFactura.cabeceraSeleccionada.cliCliente.apellidosCliente} #{beanFactura.cabeceraSeleccionada.cliCliente.nombresCliente}" />
		</p:panelGrid>

		<p:dataTable value="#{beanFactura.detallesSeleccionados}" var="c"
			emptyMessage="No hay registros aún.">
			<!-- 
			<p:column headerText="ID detalle" style="width:40px">
				<h:outputText value="#{c.idDetalleFac}" />
			</p:column>
			<p:column headerText="Nro. Factura">
				<h:outputText value="#{c.facCabecera.nroFactura}" />
			</p:column>
			 -->
			<p:column headerText="ID producto" style="width:50px" >
				<h:outputText value="#{c.prodProducto.idProd}" />
			</p:column>
			<p:column headerText="Nombre producto">
				<h:outputText value="#{c.prodProducto.nombreProd}" />
			</p:column>
			<p:column headerText="Precio c/u">
				<h:outputText value="#{c.precioUnitProd}" />
			</p:column>
			<p:column headerText="Cantidad">
				<h:outputText value="#{c.cantidadProd}" />
				<f:facet name="footer">
					<p:panelGrid columns="1">
						<h:outputText value="Subtotal: " />
						<h:outputText value="% IVA: " />
						<h:outputText value="$ IVA: " />
						<h:outputText value="TOTAL: " />
					</p:panelGrid>
				</f:facet>
			</p:column>
			<p:column headerText="Subtotal">
				<h:outputText value="#{c.totalDetalleProd}" />
				<f:facet name="footer">
					<p:panelGrid columns="1">
						<h:outputText
							value="#{beanFactura.cabeceraSeleccionada.subtotalFactura}" >
							<f:convertNumber groupingUsed="true" minFractionDigits="2"/>
					</h:outputText>
						<h:outputText
							value="#{beanFactura.cabeceraSeleccionada.porcentajeIvaFactura}" >
							<f:convertNumber groupingUsed="true" minFractionDigits="2"/>
					</h:outputText>
						<h:outputText
							value="#{beanFactura.cabeceraSeleccionada.valorIvaFactura}" >
							<f:convertNumber groupingUsed="true" minFractionDigits="2"/>
					</h:outputText>
						<h:outputText
							value="#{beanFactura.cabeceraSeleccionada.totalFactura}" >
							<f:convertNumber groupingUsed="true" minFractionDigits="2"/>
					</h:outputText>
					</p:panelGrid>
				</f:facet>
			</p:column>
		</p:dataTable>
	</p:panel>
	<!-- 
	<p:commandButton value="Imprimir" type="button" icon="pi pi-print" ajax="false" actionListener="#{beanFactura.actionReporte(beanFactura.cabeceraSeleccionada.nroFactura)}">	
	</p:commandButton>
	 -->
</body>
</html>
<!-- 
			<h:outputText value="#{beanInscripcion.estudiante.valorSaldo}">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="2" />
			</h:outputText>
			 -->