<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Facturas</title>
</h:head>
<body bgcolor="#1f2d40" >
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form>
			<p:dataTable value="#{beanFactura.listaCabeceras}" var="c"
				emptyMessage="No hay registros aún." paginator="true" rows="30">
				<p:column headerText="Nro. Factura"	filterBy="#{c.nroFactura}"
					filterMatchMode="contains">
					<h:outputText value="#{c.nroFactura}" />
				</p:column>
				<p:column headerText="Cedula Cliente" filterBy="#{c.cliCliente.cedulaCliente}"
					filterMatchMode="contains">
					<h:outputText value="#{c.cliCliente.cedulaCliente}" />
				</p:column>
				<p:column headerText="Fecha">
					<h:outputText value="#{c.fechaFactura}" />
				</p:column>
				<p:column headerText="Subtotal">
					<h:outputText value="#{c.subtotalFactura}" />
				</p:column>
				<p:column headerText="Porcentaje IVA">
					<h:outputText value="#{c.porcentajeIvaFactura}" />
				</p:column>
				<p:column headerText="Valor IVA">
					<h:outputText value="#{c.valorIvaFactura}" />
				</p:column>
				<p:column headerText="Total">
					<h:outputText value="#{c.totalFactura}" />
				</p:column>
				<p:column headerText="Opciones">
					<p:commandButton actionListener="#{beanFactura.actionListenerImprimirFactura(c.nroFactura)}" 
			value="Visualizar" icon="pi pi-eye" action="factura"></p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
</body>
</html>