<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body bgcolor="#1f2d40">
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanCliCliente.actionClienteReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<div>
		<h:form id="form1">
			<p:panel collapsed="#{beanCliCliente.panelColapsado}">
				<f:facet name="header">
					<p:commandButton value="Nuevo cliente" icon="fa fa-plus"
						update="@form"
						actionListener="#{beanCliCliente.actionListenerColapsarPanel()}" />
				</f:facet>
				<p:panelGrid columns="2">
					<h:outputText value="Cédula:" />
					<p:inputText value="#{beanCliCliente.cliente.cedulaCliente}" />
					<h:outputText value="Nombres:" />
					<p:inputText value="#{beanCliCliente.cliente.nombresCliente}" />
					<h:outputText value="Apellidos:" />
					<p:inputText value="#{beanCliCliente.cliente.apellidosCliente}" />
					<h:outputText value="Teléfono:" />
					<p:inputText value="#{beanCliCliente.cliente.telefonoCliente}" />
					<h:outputText value="Correo:" />
					<p:inputText value="#{beanCliCliente.cliente.correoCliente}" />
					<h:outputText value="Dirección:" />
					<p:inputText value="#{beanCliCliente.cliente.direccionCliente}" />
				</p:panelGrid>
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanCliCliente.actionListenerInsertarCliente()}" />
			</p:panel>
		</h:form>
		<h:form id="form2">
			<p:dataTable value="#{beanCliCliente.listadoClientes}" var="cliente"
				paginator="true" rows="5">
				<p:column headerText="Cédula">
					<h:outputText value="#{cliente.cedulaCliente}" />
				</p:column>
				<p:column headerText="Nombres">
					<h:outputText value="#{cliente.nombresCliente}" />
				</p:column>
				<p:column headerText="Apellidos">
					<h:outputText value="#{cliente.apellidosCliente}" />
				</p:column>
				<p:column headerText="Teléfono">
					<h:outputText value="#{cliente.telefonoCliente}" />
				</p:column>
				<p:column headerText="Correo">
					<h:outputText value="#{cliente.correoCliente}" />
				</p:column>
				<p:column headerText="Dirección">
					<h:outputText value="#{cliente.direccionCliente}" />
				</p:column>
				<p:column headerText="Acciones">
					<p:commandButton icon="fa fa-edit" value="Editar"
						update=":formEdicion"
						actionListener="#{beanCliCliente.actionListenerSeleccionarCliente(cliente)}"
						oncomplete="PF('dlgEdicion').show();" />
					<p:commandButton value="Eliminar" icon="fa fa-trash"
						update="@form,:form2"
						actionListener="#{beanCliCliente.actionListenerEliminarCliente(cliente.cedulaCliente)}" />
				</p:column>
			</p:dataTable>
		</h:form>
		<p:dialog header="Editar Información" widgetVar="dlgEdicion"
			modal="true">
			<h:form id="formEdicion">
				<p:growl>
					<p:autoUpdate />
				</p:growl>
				<p:panelGrid columns="2">
					<h:outputText value="Cédula:" />
					<h:outputText
						value="#{beanCliCliente.clienteSeleccionado.cedulaCliente}" />
					<h:outputText value="Nombres:" />
					<p:inputText
						value="#{beanCliCliente.clienteSeleccionado.nombresCliente}" />
					<h:outputText value="Apellidos:" />
					<p:inputText
						value="#{beanCliCliente.clienteSeleccionado.apellidosCliente}" />
					<h:outputText value="Teléfono:" />
					<p:inputText
						value="#{beanCliCliente.clienteSeleccionado.telefonoCliente}" />
					<h:outputText value="Correo:" />
					<p:inputText
						value="#{beanCliCliente.clienteSeleccionado.correoCliente}" />
					<h:outputText value="Dirección:" />
					<p:inputText
						value="#{beanCliCliente.clienteSeleccionado.direccionCliente}" />
				</p:panelGrid>
				<p:commandButton value="Actualizar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanCliCliente.actionListenerActualizarCliente()}" />
			</h:form>
		</p:dialog>
	</div>
</body>
</html>
