<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body bgcolor="#1f2d40" >
	<h:form id="form1">
	
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-briefcase" action="menu_prod" />
			<p:menuitem value="Categoría de Productos" icon="pi pi-tags" action="menu_cat"/>
			<p:menuitem value="Reporte de productos" icon="pi pi-book" ajax="false"
                                action="#{beanProductos.actionReporte()}" />
			
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Sección Productos"></p:staticMessage>
		
		<p:panel collapsed="#{beanProductos.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo producto" icon="fa fa-plus"
					update="@form" actionListener="#{beanProductos.actionListenerColapsarPanel()}"
					></p:commandButton>
			</f:facet>
			
		<p:panelGrid columns="2">
				<h:outputText value="Nombre del producto" />
				<p:inputText  value="#{beanProductos.producto.nombreProd}"/>
				<h:outputText value="Categoría del producto" />
				<p:selectOneMenu value="#{beanProductos.categoriaNueva}">
					<f:selectItems value="#{beanProductos.listaCategorias}" var="cat"
					itemLabel="#{cat.nombreCatPro}" itemValue="#{cat.idCatPro}"></f:selectItems> 
				</p:selectOneMenu>
				<h:outputText value="Precio del producto" />
				<p:inputText  value="#{beanProductos.producto.precioProd}"/>
				<h:outputText value="Detalle del producto" />
				<p:inputText  value="#{beanProductos.producto.detalleProd}"/>
				<h:outputText value="Imagen del producto" />
				<p:inputText  value="#{beanProductos.producto.imgProd}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					actionListener="#{beanProductos.actionListenerInsertarProducto()}"
					update="@form,:form2"
					></p:commandButton>
			</p:panelGrid>
			</p:panel>
	</h:form>
	<h:form id="form2">
		<p:panel header="Lista de productos">
			<p:dataTable value="#{beanProductos.listaProductos}" reflow="true"
				var="prod" paginator="true" rows="5">
				<p:column headerText="ID" filterBy="#{prod.idProd}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{prod.idProd}" />
				</p:column>
				<p:column headerText="Nombre" filterBy="#{prod.nombreProd}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{prod.nombreProd}" />
				</p:column>
				<p:column headerText="Categoría" priority="3">
					<h:outputText value="#{prod.prodCategoria.nombreCatPro}" />
				</p:column>
				<p:column headerText="Precio" sortBy="#{prod.precioProd}" priority="2"
					style="width:50px">
					<h:outputText value="#{prod.precioProd}" />
				</p:column>
				<p:column headerText="Detalle" priority="3">
					<h:outputText value="#{prod.detalleProd}" />
				</p:column>
				<p:column headerText="Imágen producto" priority="3" >
				<p:graphicImage library="images" name="#{prod.imgProd}" style="height:100px;">
				</p:graphicImage>
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="Eliminar" update="@form"
					actionListener="#{beanProductos.actionListenerEliminarProducto(prod.idProd)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
					actionListener="#{beanProductos.actionListenerSeleccionarProducto(prod)}"
					update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
					
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar información" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="ID del producto: " />
			<h:outputText value="#{beanProductos.productoSeleccionado.idProd}" />
			<p:panelGrid columns="2">
				<h:outputText value="Nombre del producto" />
				<p:inputText  value="#{beanProductos.productoSeleccionado.nombreProd}"/>
				<h:outputText value="Categoría del producto" />
				<p:selectOneMenu value="#{beanProductos.categoriaNueva}">
					<f:selectItems value="#{beanProductos.listaCategorias}" var="cat2"
					itemLabel="#{cat2.nombreCatPro}" itemValue="#{cat2.idCatPro}"></f:selectItems> 
				</p:selectOneMenu>
				<h:outputText value="Precio del producto" />
				<p:inputText  value="#{beanProductos.productoSeleccionado.precioProd}"/>
				<h:outputText value="Detalle del producto" />
				<p:inputText  value="#{beanProductos.productoSeleccionado.detalleProd}"/>
				<h:outputText value="Imagen del producto" />
				<p:inputText  value="#{beanProductos.productoSeleccionado.imgProd}" />
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save "
			actionListener="#{beanProductos.actionListenerActualizarProducto()}"
				update="@form,:form2"
				></p:commandButton>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check"></p:commandButton>
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times"></p:commandButton>
	</p:confirmDialog>
	
	
</body>
</html>
