<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body bgcolor="#1f2d40" >
	<h:form id="form1">
	
		<p:menubar>
			<p:menuitem value="Regresar " icon="pi pi-home" action="/menu" />
				<p:menuitem value="Productos" icon="pi pi-briefcase" action="menu_prod" />
			<p:menuitem value="Categorías de Productos" icon="pi pi-tags" action="menu_cat"/>
			
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Sección Categorías"></p:staticMessage>
		
		<p:panel collapsed="#{beanProductos.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nueva categoría" icon="fa fa-plus"
					update="@form" actionListener="#{beanProductos.actionListenerColapsarPanel()}"
					></p:commandButton>
			</f:facet>
			
		<p:panelGrid columns="2">
				<h:outputText value="Nombre de la categoría" />
				<p:inputText  value="#{beanProductos.prodCategoria.nombreCatPro}"/>
				<h:outputText value="Detalle de la categoría " />
				<p:inputText  value="#{beanProductos.prodCategoria.detalleCatPro}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					actionListener="#{beanProductos.actionListenerInsertarCategoria()}"
					update="@form,:form2"
					></p:commandButton>
			</p:panelGrid>
			</p:panel>
	</h:form>
	<h:form id="form2">
		<p:panel header="Lista de categorías">
			<p:dataTable value="#{beanProductos.listaCategorias}" reflow="true"
				var="cat" paginator="true" rows="5">
				<p:column headerText="ID" filterBy="#{cat.idCatPro}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{cat.idCatPro}" />
				</p:column>
				<p:column headerText="Nombre" filterBy="#{cat.nombreCatPro}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{cat.nombreCatPro}" />
				</p:column>
				<p:column headerText="Detalle" priority="3">
					<h:outputText value="#{cat.detalleCatPro}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="Eliminar" update="@form"
					actionListener="#{beanProductos.actionListenerEliminarCategoria(cat.idCatPro)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
					actionListener="#{beanProductos.actionListenerSeleccionarCategoria(cat)}"
					update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
					
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar información" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="ID de la categoría : " />
			<h:outputText value="#{beanProductos.categoriaSeleccionada.idCatPro}" />
			<p:panelGrid columns="2">
				<h:outputText value="Nombre de la categoría" />
				<p:inputText  value="#{beanProductos.categoriaSeleccionada.nombreCatPro}"/>
				<h:outputText value="Detalle de la categoría" />
				<p:inputText  value="#{beanProductos.categoriaSeleccionada.detalleCatPro}"/>
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save "
			actionListener="#{beanProductos.actionListenerActualizarCategoria()}"
				update="@form,:form2"
				></p:commandButton>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check"></p:commandButton>
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times"></p:commandButton>
	</p:confirmDialog>
	
	
</body>
</html>
